.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
  .horiline {
    width: 100%;
    max-width: 200px;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 2px;
   
  }
  z-index: 1;
}
